body{
  margin: 0;
  background: #F8FAFE;
}
.body{
  font-family: "Inter",sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin: 0 auto;
  max-width: 1500px;
  background: #F8FAFE;
}

          /*Header layout styling*/

.main-header{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
  margin-left: 50px;
  margin-right: 50px;
  background: #F8FAFE;
  position: fixed;
  left: 0;
  right: 0;
}
.main-header__logo{
  width: 36.5px;
  height: 43px;
  transform: translateY(-1px);
}
.header-title{
  display: block;
  font-family: "Inter",sans-serif;
  font-weight: 700;
  font-size: 43.5px;
  line-height: 53px;
  padding-top: 18px;
  padding-bottom: 9px;
  margin: 0;
}
.main-header__wrap{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 965px;
  position: relative;
}
.main-header__cart{
  position: relative;
  min-width: 150px;
}
.main-header__counter{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  border-radius: 50px;
  background: #F36223;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;
  padding: 3px 5px;
  color: white;
  top: -5px;
  right: 27px;
  margin: 0 auto;
}
.main-header__heart{
  margin-right: 28px;
}
.main-header__counter-position{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -3px;
  right: 105px
}
.header-title__size-text{
  font-family: "Inter",sans-serif;
  font-weight: 700;
  font-size: 43.5px;
  line-height: 53px;
  padding-top: 18px;
  padding-bottom: 9px;
  margin: 0;
}
.color-word{
  color: #ff5722;
}

          /*End Header layout styling*/

          /*Breadcrumbs layout styling*/

.breadcrumbs-list{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
  padding-bottom: 8px;
  padding-top: 8px;
  margin-left: 50px;
  margin-right: 50px;
}
.breadcrumbs-list__link{
  font-family: "Inter",sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
}

          /*End Breadcrumbs layout styling*/

          /*H2 and images smartphone*/

.title-h2{
  font-family: "Inter",sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  margin-top: 0;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 20px;
  margin-left: 50px;
  margin-right: 50px;
}
.images-smartphones{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;
  margin-left: 50px;
  margin-right: 50px;
  justify-content: space-between;
}
.images-smartphones__item-1{
  height: 388px;
}
          /*End h2 and images smartphone*/

          /*Main layout styling*/

.wrap{
display: flex;
flex-direction: row;
align-items: flex-start;
gap: 100px;
margin-left: 50px;
margin-right: 50px;
}

          /*Sidebare layout styling*/

.sidebare{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  min-width:420px;
}
.sidebare-important{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
  background: #fff;
  border: 1px solid #eee;
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  gap: 15px;
  margin-bottom: 11px;
  align-self: stretch;
}
.price{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  position: relative;
}
.price-prev{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.price-prev::after{
  content: "";
  display: inline-block;
  position: absolute;
  width: 28px;
  height: 22px;
  background: url("./images/other/css_sprites.png") no-repeat;
  background-position:  -62px -10px;
  left: 350px;
}
.price-prev:hover::after{
  background: url("./images/other/css_sprites.png") no-repeat;
  background-position: -58px -62px;
}
.price-prev:active::after{
  background: url("./images/other/css_sprites.png") no-repeat;
  background-position: -10px -62px;
}
.price-prev__old-price{
  text-decoration-line: line-through;
  color: #888;
}
.price-prev__text{
  font-family: 'Inter',sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
}
.discount{
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  background: #F36223;
  border-radius: 500px;
  color: white;
}
.price__title{
  font-family: 'Inter',sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
  margin-bottom: 0;  
}
.delivery{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;

}
.size-word-weight{
  font-weight: bold;
}
.delivery-terms{
  margin: 0;
  align-self: stretch;
}
.delivery-terms:nth-child(2){
  padding-bottom: 20px;
}
.button{
  align-self: stretch;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 111px;
  padding-right: 49px;
  background: #F36223;
  border-radius: 4px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  border: none;
  color: white;
  position: relative;
}
.button::before{
  content: "";
  display: inline-block;
  position: absolute;
  width: 21px;
  height: 20px;
  background: url("./images/other/css_sprites.png") no-repeat;
  background-position: -110px -10px;
  top: 22.84px;
  left: 74.80px;
}
.button-color:hover{
  background: #DA4A0C;
}
.button-color:active{
  background: #A93A09;
}
.button_add_review:hover{
  background: #f2f2f2
}
          /*Advertising layout styling*/

.advertising{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  flex-grow: 0;
  order: 1;
}
.advertising__name{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #888;
  display: block;
  margin: 0;
}
.advertising-list{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}
.advertising-list__iframe{
  width: 420px;
  height: 300px;
  border: dashed 1px #ccc;
  box-sizing: border-box;
}

          /*Description layout styling*/

.description{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  flex-grow: 1;
}
.container{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 15px;
}
.container__title{
  font-family: "Inter",sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  margin-top: 0;
  margin-bottom: 0;
}

          /*Images smartphones layout styling*/

.smartphones-colors{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
}
.smartphones-colors__squar{
  width: 80px;
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 1px solid #888;
  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
}
.smartphones-colors__squar:hover{
  background: #f2f2f2;
}
.smartphones-colors__picture{
  width: 30.93px;
  height: 60px;
}
.smartphones-colors__picture--size{
  width: 44.45px;
  height: 60px;
}
.focus:focus{
  border: 1px solid #F36223;
  border-radius: 4px;
}
.focus:active{
  border: 1px solid #A93A09;
  border-radius: 4px;
}

          /*Images smartphones layout styling end*/

.configuration__title{
  margin-top: 0;
  margin-bottom: 15px;
}

          /*Button layout styling*/

.configuration__group-button{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.configuration__hover-btn{
  border: 1px solid #888;
  border-radius: 4px;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  background: transparent;
  cursor: pointer;

}
.configuration__hover-btn:hover{
  background: #f2f2f2;
}

          /*Button layout styling end*/

.characteristics{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 15px;
  flex-grow: 1;
}
.characteristics__title{
  margin: 0;
}
.characteristics-list{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 25px;
  font-size: 10px;
  padding-left: 0;
  list-style: none;
}
.characteristics-list__marker{
    color: #888;
    font-size: 10px;
    margin-right: 10px;
    transform: translateY(-1px);
}
.characteristics-list__direction{
  display: inline-flex;
  align-items: center;
  flex-direction: row;
}
.characteristics-list__font-text{
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}
.items-description{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  flex-grow: 0;
  align-self: stretch;
}
.items-description__title{
  margin: 0;
}
.items-description__content{
  margin: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}
.font{
  font-style: italic;
}
.link{
  color:  #018ad2;
  text-decoration: none;
}
.link:hover{
  color: #F36223;
}
.link:active{
  color: #A93A09;
}
          /*Table layout styling*/
.model{
  flex-grow: 1;
  min-width:880px;
}
          .model__title{
  font-family: 'Inter',sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 15px;
  margin-top: 0;
}
.table-model{
  border: 1px solid #888;
  border-collapse: collapse;
  margin-bottom: 50px;
  border-spacing: 0;
}
.table-model__head{
  border: 1px solid #888;
  border-collapse: collapse;
}
.table-model__border{
  border-right: 1px solid #888;
  padding: 10px;
}
.table-model__row1:hover{
  background: #f2f2f2;
}
.table-model__row2:hover{
  background: #f2f2f2;
}
.table-model__row3:hover{
  background: #f2f2f2;
}
          /*Table layout styling end*/
.content{
  margin: 0;
}
          /*Reviews layout styling*/
.reviews{
  margin-left: 50px;
  max-width: 880px;
}
.reviews__header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px; 
}
.reviews-wrap{
  display: flex;
  gap: 10px;
  flex-direction: row;
  align-items: center;
  align-self: stretch;
}
.reviews-count{
  color: #888;
  font-family: Inter, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}
.button_background{
  background: #F8FAFE;
  border: 1px solid #888888;
  border-radius: 4px;
  color: #000;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  cursor: pointer;
}
.reviews__title{
  display: inline-block;
  margin: 0;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}
.wrapper{
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-bottom: 60px;
  padding: 0;
}
.round{
  width: 140px;
  height: 140px;
  border-radius: 100px;
}
.rating__star{
  height: 30px;
}
.border{
  border-bottom: 1px dashed #888;
  align-self: stretch;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 170px;
  box-sizing: border-box;
}
.reviews-author__title{
  font-family: Inter, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin-top: 0;
  margin-bottom: 10px;
}
.rating{
  margin-bottom: 20px;
}
.strong{
  display: block;
  font-family: 'Inter',sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
}
.user-experience{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.content{
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
}
.content__font-weight{
  font-weight: 700;
}
          /*Form layout styling*/
.form{
  margin-bottom: 100px;
  margin-left: 50px;
  max-width: 880px;
  padding-left: 170px;
  box-sizing: border-box;
}
.form__title{
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  margin-top: 0;
  margin-bottom: 15px;
}
.form__wrap{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  align-self: stretch;
  flex-grow: 0;
}
.form__wrapper{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 40px;
  align-self: stretch;
}
.form__wrap--content{
  margin: 0;
}
.form__input--font-text{
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  box-sizing: border-box;
  border: 1px solid #888888;
  flex-grow: 1;
  order: 0;
  color: #888;
  padding-right: 0;
  background: #F8FAFE;
  min-width: 473px;
}
.form__error--name{
  padding: 8px 20px;
  background: #DA4A0C;
  color: #fff;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
}
.form__input--font-text::placeholder{
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}
.form__input--font-text:hover{
  border: 1px solid #000000;
  font-style: normal;
  font-weight: 500;
}
.form__input--font-number{
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 1px;
  flex-grow: 0;
  order: 1;
  border: 1px solid #888888;
  color: #000;
  padding-right: 0;
  background: #F8FAFE;
  min-width: 175px;
}
.form__error--score{
  padding: 8px 20px;
  background: #DA4A0C;
  color: #fff;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
}
.form__input--font-number::placeholder{
  color: #888;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}
.form__input--font-number:hover{
  border: 1px solid #000000;
  font-style: normal;
  font-weight: 500;
}
.form__textarea--font-text{
  padding-top: 15px;
  padding-left: 20px;
  padding-bottom: 156px;
  resize: none;
  overflow: auto;
  box-sizing: border-box;
  align-self: stretch;
  border: 1px solid #888888;
  min-width: 710px;
  order: 1;
  flex-grow: 0;
  overflow : hidden;
  padding-right: 0;
  background: #F8FAFE;
}
.form__textarea--font-text::placeholder{
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  min-width: 710px;
  color: #888;
}
.form__textarea--font-text:hover{
  border: 1px solid #000000;
  font-style: normal;
  font-weight: 500;
}
.form__button{
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background: #F36223;
  border-radius: 4px;
  border: none;
  color: #fff;
}
          /*Form layout styling end*/
          /*Footer layout styling*/
.main-footer{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: #f2f2f2;
}
.main-footer__content{
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 50px;
  margin: 0;
  font-family: 'Inter',sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
}
.main-footer__transfer{
  display: block;
}
.main-footer__link{
  padding-right: 50px;
  font-family: 'Inter',sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}
          /*Footer layout styling end*/
@media (max-width: 1499px) and (min-width: 1024px) {
  .main-header, .breadcrumbs-list, .title-h2, .images-smartphones, .wrap, .reviews, .form{
    margin-left: 15px;
    margin-right: 15px;
  }
  .main-header__wrap{
    gap: 555px;
  }
  .images-smartphones__item-1{
    height: 273px;
  }
  .wrap{
    gap: 40px
  }
  .model{
    display: none;
  }
  .round{
    width: 100px;
    height: 100px;
  }
  .rating__star{
    width: 20px;
    height: 20px;
  }
  .reviews{
    max-width: 534px
  }
  .form{
    padding-left: 0;
    max-width: 534px
  }
  .form__input--font-text{
    min-width: 319px;
  }
  .form__input--font-number{
    min-width: 153px;
  }
  .form__textarea--font-text{
    min-width: 534px;
    flex-grow: 1;
  }
  .images-smartphones{
    justify-content: flex-start;
  }
  .description{
    max-width: 534px;
  }
  .main-footer{
    max-width: 1026.5px;
  }
  .main-footer__content{
    padding-left: 15px;
  }
  .main-footer__link{
    padding-right: 15px;
  }
}